html {
	scroll-behavior: smooth;
}

body, h1, p{
	margin: 0px!important;
    line-height: 1.5;
}

a {
    text-decoration: none;
    outline: none;
    font-size: 14px;
}

h1,h2 {
    font-family: 'Princess Sofia', cursive;
}

p,h3 {
    font-family: 'Quattrocento', serif;
}

h1,h2 {
    font-size: 55px;
}

p {
    font-size: 18px;
}

main {
	position: relative;
	overflow: hidden;
}

nav.desktop-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 20px #7889587d;
}

nav .top-nav {
    background-color: #B6C69E;
    color: #ffffff;
    padding: 0.5rem;
    font-family: 'Quattrocento', serif;
    text-align: center;
    font-size: small;
}

nav.desktop-nav img.nav-logo {
    height: 100px;
    object-fit: contain;
    max-height: 100px;
    transition: max-height 0.5s ease; 
}

nav.desktop-nav .main-nav {
    padding: 10px 0px;
    border-bottom: 1px solid #B6C69E;
    background: white;
}

nav .nav-link{
    color: #412C12!important;
    position: relative;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 14px;
    color: #5E6848;
    font-family: 'Quattrocento', serif;
}

nav.desktop-nav .nav-link::before{
    content: "";
    background-image: url(../images/icons/navlink-ico-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 13px;
    width: 13px;
    top: 50%;
    left: 4px;
    transform: translate(0%, -50%);
    transition: opacity 0.5s ease;
    opacity: 0;
}

nav .nav-link::after{
    content: "";
    background-image: url(../images/icons/navlink-ico-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 13px;
    width: 13px;
    top: 50%;
    right: 4px;
    transform: translate(0%, -50%);
    transition: opacity 0.5s ease;
    opacity: 0;
}

nav.desktop-nav .nav-link:hover::before,
nav .nav-link:hover::after,
nav.desktop-nav .active.nav-link::before,
nav .active.nav-link::after{
    opacity: 1;
}

nav.desktop-nav .sub-nav{
    border-bottom: 1px solid #B6C69E;
}

nav.mobile-nav {
    display: none;
}

.orange-btn{
    display: block;
    padding: 0.5rem 1rem;
    background-color: #FF946D;
    border-radius: 5px;
    text-align: center;
    font-family: 'Quattrocento', serif;
    color: #ffffff;
    width: fit-content;
    transition: all 0.5s ease;
}

.orange-btn:hover {
    color: #ffffff;
    background-color: #e98764; /* New background color on hover */
}

.header-title,
.block-title,
.card-title,
.body-text,
.body-text-sm,
p.price{
    color: #5E6848;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1100px){

}

@media screen and (max-width: 1025px){
    h1,h2 {
        font-size: 46px;
    }

    a, .body-text {
        font-size: 14px;
    }

    nav.desktop-nav .nav-link {
        padding: 0.5rem 1rem;
    }

    nav.desktop-nav .nav-link::before {
        left: -4px;
    }

    nav.desktop-nav .nav-link::after {
        right: -4px;
    }

}

@media screen and (max-width: 994px){

}

@media screen and (max-width: 769px){
    nav.desktop-nav {
        display: none;
    }

    nav.mobile-nav {
        display: block;
        position: fixed;
        z-index: 999;
        width: 100%;
        background: white;
        top: 0;
    }

    nav.mobile-nav img.nav-logo {
        height: 70px;
    }

    nav.mobile-nav .main-nav {
        padding: 1rem 0rem;
        border-bottom: 1px solid #B6C69E;
        background: white;
    }

    div#menu-button {
        position: relative;
        height: 30px;
        width: 30px;
    }

    nav.mobile-nav .nav-hamburger,
    nav.mobile-nav .nav-close{
        position: absolute;
    }

    nav.mobile-nav .nav-hamburger {
        display: block;
        opacity: 1;
        transition: opacity 0.3s;
        height: 30px;
        width: 30px;
        object-fit: contain;
    } 
    
    nav.mobile-nav .nav-close {
        width: 30px;
        height: 30px;
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.3s;
    }

    nav.mobile-nav #mobile-nav-content {
        display: none;
        opacity: 0;
        animation: slideAndFade 0.4s ease forwards;
    }

    @keyframes slideAndFade {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    nav.mobile-nav #mobile-nav-content.show {
        display: block;
    }

    nav.mobile-nav #mobile-nav-content.hide {
        animation: slideAndFadeUp 0.5s ease forwards;
    }

    @keyframes slideAndFadeUp {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-100%);
        }
    }

    nav.mobile-nav div#mobile-nav-content {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        padding: 175px 0px 0px 0px;
        background-image: url(../images/orange-green-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    nav.mobile-nav .nav-link {
        font-family: 'Princess Sofia', cursive;
        font-size: 36px;
        width: fit-content;
    }

    nav .nav-link::after {
        height: 36px;
        width: 36px;
        right: -15px;
    }

    nav.mobile-nav .no-bullets {
        list-style-type: none;
        padding: 0; /* Optional: remove any default padding or margin */
    }

}

@media screen and (max-width: 640px){
    nav.mobile-nav img.nav-logo {
        height: 50px;
    }

    nav.mobile-nav div#mobile-nav-content {
        padding: 200px 0px 0px 0px;
    }
}

@media screen and (max-width: 500px){

}

@media screen and (max-width: 400px){

}

/* --------------header bloc----------- */

.header-block {
    background-image: url(../images/orange-green-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 267px 0px 67px 0px;
    position: relative;
}

.header-block img.header-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    object-fit: cover;
    object-position: top;
    height: 100%;
    padding-top: 195px;
}

.header-block .body-text{
    width: 387px;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1100px){

}

@media screen and (max-width: 1025px){

}

@media screen and (max-width: 994px){

}

@media screen and (max-width: 769px){
    .header-block {
        padding: 184px 0px 0px 0px;
    }

    .header-block img.header-image {
        width: 45vw;
        padding-top: 135px;
    }

    .header-block .body-text {
        width: 100%;
    }
}

@media screen and (max-width: 640px){
    .header-block img.header-image {
        width: 100%;
        position: relative;
        height: auto;
        margin-top: 1.5rem;
        padding-top: 0px;
    }
}

@media screen and (max-width: 500px){

}

@media screen and (max-width: 400px){

}

/* --------------second bloc----------- */

.second-block {
    background-image: url(../images/orange-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
    position: relative;
    overflow: hidden;
}

.second-block img.scndBlock-topELement {
    height: 256px;
    position: absolute;
    top: -63px;
    left: -55px;
    transform: rotate(16deg);
    pointer-events: none;
}

.second-block h2 {
    text-align: center;
}

.second-block .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    grid-column-gap: 1.5rem;
}

.item-card {
    border: 2px solid #5E6848;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem 1rem 4rem 1rem;
    position: relative;
    background: white;
    transition: box-shadow 0.3s ease;
}

.item-card:hover {
    box-shadow: 0px 0px 20px #7889587d;
}

.item-card .card-title {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.item-card img.card-image {
    height: 210px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.item-card p.body-text-sm {
    font-size: 14px;
    font-style: italic;
}

.item-card p.price {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 1.5rem;
    color: #DC8D53;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1100px){

}

@media screen and (max-width: 1025px){
    .second-block .grid {
        grid-column-gap: 1rem;
    }
}

@media screen and (max-width: 994px){

}

@media screen and (max-width: 769px){
    .second-block .grid {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;
    }

    .second-block img.scndBlock-topELement {
        opacity: 0.3;
        left: -93px;
    }
}

@media screen and (max-width: 640px){

    .second-block .grid {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }

    .item-card img.card-image {
        height: auto;
    }
}

@media screen and (max-width: 500px){

}

@media screen and (max-width: 400px){

}

/* -------------third block------------------ */
.third-block {
    background-image: url(../images/green1-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
    position: relative;
    z-index: 1;
}

.third-block .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}

.third-block img.thirdBlock-topRightELement {
    height: 273px;
    /* width: 200px; */
    position: absolute;
    top: -108px;
    right: -60px;
    transform: rotate(236deg);
    pointer-events: none;
}

img.thirdBlock-topCenterELement {
    height: 75px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.third-block .filterContainer {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.custom-select-container {
    margin-right: 1rem;
    font-family: 'Quattrocento', serif;
    font-size: 14px;
    color: #5E6848;
}

.custom-select {
    position: relative;
    width: 200px;
    display: inline-block;
    /* margin: 10px; */
  }
  
  .selected-option {
    width: 100%;
    padding: 7px;
    border: 1px solid #5E6848;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
  }

.selected-option::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 6px;
    background-image: url(../images/icons/down.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 13px;
    height: 13px;
    transform: translate(0%, -50%);
}
  
  .options {
    display: none;
    position: absolute;
    width: 100%;
    /* max-height: 150px; */
    overflow-y: auto;
    background-color: #F3F7F1;
    border: 1px solid #5E6848;
    border-radius: 5px;
    top: 45px;
    z-index: 5;
  }
  .options.show {
    display: block;
  }

  
  .option {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 14px; /* Adjust font size as needed */
    color: #5E6848; /* Adjust text color as needed */
  }
  
  .option:hover {
    background-color: #727B5E;
    color: #ffffff; /* Color on hover, adjust as needed */
  }
  

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1100px){

}

@media screen and (max-width: 1025px){
}

@media screen and (max-width: 994px){

}

@media screen and (max-width: 769px){
    .third-block img.thirdBlock-topRightELement {
        top: -138px;
        right: -99px;
        transform: rotate(249deg);
        opacity: 0.3;
    }

    .third-block .grid {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1.5rem;
        margin-top: 40px;
    }
}

@media screen and (max-width: 640px){
    img.thirdBlock-topCenterELement {
        height: 55px;
    }

    .third-block .grid {
        grid-template-columns: 1fr;
    }

    .third-block .filterContainer {
        flex-direction: column;
    }

    .custom-select-container {
        margin-right: 0rem;
        margin-bottom: 0.7rem;
    }

    .custom-select-container,
    .custom-select {
        width: 100%;
    }
}

@media screen and (max-width: 500px){

}

@media screen and (max-width: 400px){

}

